#popup{
    position:fixed;
    width: 200px;
    height: 300px;
    left:40%;
    top:22%;
    background-color: white;
    border: solid black;
    z-index: 11;
}

#popup-overley{
    position: fixed;
    top:0;
    bottom: 0;
    width: 100%;
    background:rgba(0,0,0,0.6);
     z-index:10 ;
}

#chatbox{
position:fixed;
width:200px;
height:300px;
right: 0;
bottom: 0;
background-color: white;
border: solid skyblue;
}

#text{
border-bottom: 1px solid #212121;
display: flex;
}

#text span:first-child{
    flex: 1;
}

#close-chatbox{
    cursor: pointer;
}

#close-feedback{
    cursor: pointer;
}

#feedback{
    position: absolute;
    width: 100px;
    height: 200px;
    background-color: black;
    color: white;
    right: 0;
    top: 50%;
     
}

#text1 {
    border-bottom: 1px solid white;
}


